head
  title FireSeeds
  link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
body
  +burn
  .container
    .row
      .col-md-12
        .text-center.page-header
          span.glyphicon.glyphicon-fire
          h1 
            small
              |FireSeeds
          a.waves-effect.waves-light.btn
            i.material-icons.cloud
            | はじめる
  
