template(name='Seed')
  link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
  
  a(data-position='bottom', data-tooltip='火に油を注ぐ' class="{{#if checkHasNotOil}}disabled{{/if}}" ).btn-floating.btn-large.waves-effect.waves-light.orange.tooltipped
    i.material-icons format_color_fill
  each fire_count
    span.glyphicon.glyphicon-fire.burn
