template(name='growFire')
  .container
    .row
      blockquote.grey-text
        h5 オイルを投下することで、アイディアを応援できます
    .row
      .col.s8
        .card
          .card-image
            img(src='1648251.jpg')
            span.card-title.white-text ツイラブ！
          .card-content.grey-text
            p
              | ツイートの内容から、理想のパートナーを探し出してくれるサービス
              | 
          .card-action
            +Seed
    .row
      if hasOil
        .col.s6
          .card
            .card-content
              +Oil
    .row
      .offset-s6
        a(href='/goOut' class="{{#if hasOil}}disabled{{else}}{{/if}}").waves-effect.waves-light.btn
          i.material-icons.cloud
          | 次へ
