template(name='growFire')
  .container
    .row
      blockquote
        h5 応援する方法は簡単。
          br
          |火に油を注ぐだけ
    .row
      .col.s8
        .card.blue-grey.darken-1
          .card-content.white-text
            span.card-title Card Title
            p
              | I am a very simple card. I am good at containing small bits of information.
              | I am convenient because I require little markup to use effectively.
          .card-action
            +Seed
    .row
      .col.s6
        .card
          .card-content
            +Oil
