template(name='growFire')
  .container
    .row
      blockquote.grey-text
        h5 オイルを投下することで、アイディアを応援できます
    .row
      .col.s8

        //- .card.blue-grey.darken-1
        .card
          .card-image
            img(src='1648251.jpg')
            span.card-title.white-text ツイラブ！
          .card-content.grey-text
            p
              | ツイートの内容から、理想のパートナーを探し出してくれるサービス
              | 
          .card-action
            +Seed
    .row
      .col.s6
        .card
          .card-content
            +Oil
